:root {
  --Darkcyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: var(--Cream);
}

.cart .wrapper {
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}

picture img {
  max-width: 100%;
  min-height: 100%;
  display: block;
}
.details {
  padding: 10px;
  background-color: var(--White);
}
.details p {
  margin-top: 10px;
  color: var(--Dark-grayish-blue);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
}
.details p:first-child {
  font-weight: 500;
}
.details h1 {
  margin-top: 10px;
  font-family: fraunces;
  font-weight: 700;
}

.price {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  align-items: center;
  gap: 20px;
}
.new-price {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: xx-large;
  color: var(--Darkcyan);
}
.old-price {
  color: var(--Dark-grayish-blue);
  text-decoration: line-through;
}
.cart-button {
  background-color: var(--Darkcyan);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  border-radius: 5px;
}
.cart-button i,
.cart-button p {
  color: var(--White);
}
.cart-button p {
  margin: 0px;
  font-weight: 600;
}
@media (min-width: 641px) {
  .cart {
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart .wrapper {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    max-height: 700px;
    border: 2x solid black;
  }
  .details {
    max-width: 300px;
    padding: 30px;
  }
  .details h1,
  .details .price {
    margin: 30px 0px;
  }
}
